<main class="container">
    <h1>Single Course</h1>
    {{!-- Enrolled in course: {{enrolledInCourse}}
    In Cart: {{courseInCart}} --}}
    <section class="card shadow p-2 my-2 col-12 courses-card">
        <p id="id" data-doc="{{ user?._id }}"></p>
        <h3>{{course.name}}</h3>
        <p>{{course.description}}</p>
        <p>Subject Area: {{course.subjectArea}}</p>
        <p>Credits: {{course.credits}}</p>
        <p>Instructor: {{course.instructor.firstName}} {{course.instructor.lastName}}</p>
      {{#if isStudent}}
        <button class="btn btn-success add-to-cart-btn" data-doc="{{course._id}}">Add To Cart</button>
      {{/if}}
      <a href="/courses">All Courses</a>
    </section>
    <div id="message" class="alert" style="display: none;"></div>

</main>

<script>
  document.querySelectorAll('.add-to-cart-btn').forEach(btn => {
    btn.addEventListener('click', async (e) => {
      e.preventDefault()
      const options = { 
        method: 'POST', 
        body: JSON.stringify({
          itemToUpdate: btn.dataset.doc,
          cartAction: 'add'
        }),
        headers: { 'Content-Type': 'application/json' }
      }
      console.log('options', options)
      await fetch(`/cart`, options)
    })
  })
</script>
